
body {
  flex: 1 1 250px;

}
body {
  margin: 0;
  padding: 0;
}

#navbar{
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 250px;
  display: inline;
}
header{
  font-weight: lighter;
}
#main-doc
{
    position: relative;
    margin-left: 300px;
    max-width: 700px;
}
@media (min-width: 40em) {
  .navbar {
    display: inline;
  }
}
